<div class="container p-4">
    <div class="row">
        <div class="col-md mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h5>Welcome <strong>{{user.fullname}}</strong></h5> 
                    <a class="btn btn-primary mt-3" href="/links">Add new links</a>
                </div>
            </div>
        </div>
    </div>
</div>