<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>SignIn</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        <input type="text" name="username"class="form-control mb-3" placeholder="Username" autofocus required>
                        <input type="password" name="password"class="form-control mb-3" placeholder="**********" required>
                        <div class="col-auto">
                            <button class="btn btn-primary w-100">Login</button>
                        </div>
                        <p>Don't have an account! <strong><a href="/signup">Create one.</a></strong></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>