<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>SignUp</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        <input type="text" name="fullname" class="form-control mb-3" placeholder="Full Name" autofocus required>
                        <input type="text" name="username"class="form-control mb-3" placeholder="Username" required>
                        <input type="password" name="password"class="form-control mb-3" placeholder="**********" required>
                        <div class="col-auto">
                            <button class="btn btn-primary">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>